.header {
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
  }
  
  .logoHeader {
    display: flex;
    width: 22%;
    justify-content: space-around;
    align-items: center;
  
    img {
      width: 20%;
    }
  
    h1 {
      font-size: 25px;
      color: #fff;
    }
  }
  
  .navHeader {
    width: 30%;
  
    ul {
      display: flex;
      font-size: 5px;
      width: 28vw;
      justify-content: space-around;
      list-style: none;
    }
  
    .link {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
    }
  }
  
  .barraDeBusca {
    border: solid #fff;
    border-radius: 20px;
    margin-right: 1%;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    input {
      color: #fff;
      background-color: transparent;
      border: none;
      width: 85%;
      height: 5vh;
  
      &::placeholder {
        color: #fff;
        font-size: 20px;
      }
    }
  
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
  
  @media(max-width: 768px){
    .header{
      flex-direction: column;
      justify-content: space-evenly;
    }
    .logoHeader{
      width: 90%;
    }
    .navHeader{
      width: 95%;
    }
    .barraDeBusca{
      display: none;
    }
  }