.primeiraSeção{
    background-color: #005695;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    color: #fff;
    p{
        margin-left: 4vw;
      
    }

    nav{

        display: flex;
        align-items: center;   
        margin-right: 4vw;  
        a{
            img{

                height: 4vh;
                
                margin-right: 6px;
                
            }
        }       
    }
    
}

.segundaSeção{
    background-color: #232020;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 780px){
    .primeiraSeção{
        flex-direction: column;

        nav {
            width: 60%;
        }
    }

    .segundaSeção {
        font-size: 12px;
        
        p {
            width: 60%;
            text-align: center;
        }
    }
}